<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crreportes.Properties.Settings.pontobdConnectionString"
            connectionString="Host=localhost;Database=pontobd;Username=postgres;Password=useregospostgresql@15"
            providerName="Npgsql" />
        <add name="crreportes.Properties.Settings.ConnectionString" connectionString="Dsn=PostgreSQL30;uid=postgres;pwd=useregospostgresql@15"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>